<div ng-controller="StudentContentController as SCC" class="row">
   <!-- START dashboard content-->

   <div class="col-lg-12 fw-boxed">
      <div ng-show="currentContentType==0 || !currentContentType">
         <!-- start - temp page content for 12/9 demo -->
         <h1>Class Announcements</h1>
         <hr>
         <div class="announcements">
            <h2><i class="fa fa-exclamation-circle"></i> Class Schedule Update</h2>
            <p>On
               <strong>Wednesday, April 6th</strong>, classes will begin at 9:00 AM due to scheduled maintenance in the classroom area. Please report for class at 8:45 AM.</p>
            <hr>
         </div>
         <div class="announcements">
            <h2>Last Mile applications will be going out soon!</h2>
            <p>A new Last Mile class will be starting soon, and applications should be available within the next week. If you know someone who you believe could be a good candidate for the program, let them know that they will need to apply by the deadline
               in order to be considered. Speak with your Class Facilitator for additional details.</p>
            <hr>
         </div>
         <div class="announcements">
            <h2>JavaScript "Functions - Part 1" Quiz this week</h2>
            <p>Be ready to write some JavaScript! This week's quiz will include 10 multiple choice questions and 3 function exercises that will test your knowledge of basic concepts. Quiz duration will be
               <em>1 Hour</em>.</p>
         </div>
         <hr>
         <h1>Course Calendar</h1>
         <div class="btn-group cal-btn-group" role="group">
            <!-- these buttons are non-functional for the demo -->
            <button type="button" class="btn btn-default">Day</button>
            <button type="button" class="btn btn-default">Week</button>
            <button type="button" class="btn btn-default">Month</button>
         </div>
         <br>
         <img src="app/img/demoCal.png" id="calendar" alt="Calendar" />
         <!-- end - temp page content for 12/9 demo -->
      </div>

      <div ng-show="currentContentType==1">
         Instructions
         <ul>
            <li ng-repeat="content in content_by_type">
               <a href="{{ url }}{{ content.index_file }}">{{ content.name }}</a>
            </li>
         </ul>
      </div>

      <div ng-show="currentContentType==3">
         Video {{SCC.config}}
         <ul>
            <li ng-repeat="content in content_by_type">
               <a href="{{ url }}{{ content.file_url }}">{{ content.name }}</a>
            </li>
         </ul>
         <div class="videogular-container">
            <videogular vg-theme="SCC.config.theme.url">
               <vg-media vg-src="SCC.config.sources" vg-tracks="SCC.config.tracks" vg-native-controls="true">
               </vg-media>
            </videogular>
         </div>
      </div>

      <div ng-show="currentContentType==5">
         Resources
         <ul>
            <li ng-repeat="content in content_by_type">{{ content }}</li>
         </ul>
      </div>

      <div ng-show="currentContentType==9">
         Editor
      </div>
   </div>


   <!-- END dashboard sidebar-->

</div>