<div class="container">
   <div ng-controller="StudentCodeController as SCC" class="testclass">
      <div ng-controller="CodeController as CODE">
         <div class="row">
            <div class="col-xs-12">
               <select ng-change="CODE.getChallenges()" ng-model="CODE.problem" ng-options="jc as jc.title for jc in jsonCode">
                   <option value="">Select Problem</option>
               </select>
               <select ng-show="CODE.problem" ng-model="CODE.challenge"

               ng-options="jcc as jcc.title for jcc in jsonCodeChallenges track by jcc.id" ng-change="CODE.loadCode()" >
               </select>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-4">
                  <b>Instructions</b>
                  <div class="panel instruction-panel">
                     <p class="panel-body" ng-bind-html="CODE.challenge.description">
                     </p>
                  </div>

                  <div class="instructions hidden">
                     <b>Tests</b>
                     <pre id="editor_tests">
                     </pre>
                  </div>

            </div>
            <div class="col-sm-8">
                  <div class="code-time">

                     <b>Code Editor</b>
                     <pre id="editor_code" ng-model="CODE.editor_code" name="editor_code">
                     </pre>

                     <span ng-controller="ModalController as modal">
                     <button ng-click="CODE.run($event); modal.open_code()" class="btn btn-info btn-sm form-control">Run Code <i class="fa fa-play-circle"></i></button>
                     </span>

                     <!--                   <div class="btn-switch mb mr btn-switch-success pull-right">
                        <input type="checkbox" id="input-btn-switch-success">
                        <label for="input-btn-switch-success" class="btn btn-sm btn-success">
                           <em class="fa fa-check"></em>Save Code</label>
                     </div> &nbsp; -->

<!--                      <div uib-dropdown="dropdown" class="btn-group mb mr dropdown pull-right">
                        <button type="button" class="btn btn-default btn-sm" ripple="" ng-click="CODE.enterfilename=false;CODE.save(CODE.current_code);CODE.saveclass='btn btn-success btn-sm';" ng-class="CODE.saveclass">Save Code</button>
                        <button type="button" uib-dropdown-toggle="" ripple="" class="btn dropdown-toggle btn-default btn-sm" ng-class="CODE.saveclass" aria-haspopup="true" aria-expanded="false">
                           <span class="caret"></span>
                           <span class="sr-only">primary</span>
                           <span class="ripple">
                              <span class="angular-ripple" style="width: 35px; height: 35px; left: -2.89062px; top: -2.5px;"></span>
                           </span>
                        </button>
                        <ul role="menu" class="dropdown-menu">
                           <li><a href="" ng-click="CODE.saveclass='btn btn-default btn-sm';CODE.enterfilename=true">Save New</a>
                           </li>
                           <li class="divider"></li>
                           <li ng-repeat="code in code_list">
                              <a href="" ng-click="CODE.current_code=code;CODE.open()">{{code.name}}</a>
                           </li>
                        </ul>
                     </div>
                     <input ng-model="CODE.current_code.name" id="input-id-1" type="text" class="form-control pull-right input-sm" style="width: 25%; margin-right: 1em;" placeholder="Create New Name">&nbsp; -->
                  </div>
               
            </div>
         </div>
      </div>
   </div>
</div>