<div ng-controller="StudentContentController as SCC">
   <div ng-show="!$root.iframeActive" class="row testclass">
      <div class="col-lg-12 fw-boxed">
         <h1>Lessons</h1>
         <div ng-repeat="content in content_by_type" class="panel">
            <div class="panel-body">
               <a href="" ng-click="$root.iframeActive=true;SCC.projUrl=content.extracted_path+content.index_file; app.sidebar.isOffscreen=true;">
                  <h4>{{ content.name }} {{ content.extracted_path }}</h4>
                  <p>{{ content.description }}</p>
               </a>
            </div>
         </div>
      </div>
   </div>

   <div ng-show="$root.iframeActive">
      <div id="root">
         <iframe ng-src="{{SCC.getFullURL()}}" class="lesson-frame" frameborder="0">
            <p>Your browser does not support iframes.</p>
         </iframe>
      </div>
   </div>
</div>