<div ng-controller="StudentContentController as SCC">
   <div ng-show="!$root.iframeActive" class="testclass">
      <div class="row">
         <div class="col-lg-6 fw-boxed">
            <h1>Lessons</h1>
            <div ng-repeat="content in content_by_type" class="panel">
            <a href="" ng-click="$root.iframeActive=true;SCC.projUrl=content.extracted_path+content.index_file;">
               <div class="panel-body">
                     <h4>{{ content.name }}</h4>
                     <p>{{ content.description }}</p>
                     {{content.extracted_path}}
               </div>
            </a>
            </div>
         </div>
      </div>
   </div>

   <div ng-show="$root.iframeActive">
      <div id="root">
         <iframe ng-src="{{SCC.getFullURL()}}" class="lesson-frame" frameborder="0">
            <p>Your browser does not support iframes.</p>
         </iframe>
      </div>
   </div>
</div>