<!-- START Sidebar-->
<div class="sidebar-wrapper">
   <div ui-sidebar="" class="sidebar">
      <div class="sidebar-nav" ng-controller="DashboardController as dashboard">
         <ul class="nav" ng-if="isAdmin() || isSuperAdmin()">
            <!-- Iterates over all sidebar items-->
            <li class="nav-heading">
               <span translate="sidebar.heading.HEADER" class="text-muted">Lesson Navigation</span>
            </li>
            <li ui-sref-active="active">
               <a ui-sref="app.classoverview" title="Overview" ripple="">
                  <em class="sidebar-item-icon fa fa-bar-chart-o"></em>
                  <span>Overview</span>
               </a>
            </li>
            <li ui-sref-active="active">
               <a ui-sref="app.viewstudents" title="Students" ripple="">
                  <em class="sidebar-item-icon fa fa-list"></em>
                  <span>Student List</span>
               </a>
            </li>
         </ul>
         <ul class="nav" ng-if="isSuperAdmin()">
            <hr>
            <!--
            <li ui-sref-active="active">
               <a ui-sref="app.tests" title="Cards" ripple="">
                  <em class="sidebar-item-icon fa fa-check"></em>
                  <span>Tests</span>
               </a>
            </li>
            -->
            <li ui-sref-active="active">
               <a ui-sref="app.adminCourses" title="Lessons" ripple="">
                  <em class="sidebar-item-icon fa fa-code"></em>
                  <span>Courses</span>
               </a>
            </li>
            <li ui-sref-active="active">
               <a ui-sref="app.adminLessons" title="Lessons" ripple="">
                  <em class="sidebar-item-icon fa fa-code"></em>
                  <span>Modules</span>
               </a>
            </li>
            <li ui-sref-active="active">
               <a ui-sref="app.adminModuleContent" title="Module Content" ripple="">
                  <em class="sidebar-item-icon fa fa-code"></em>
                  <span>Module Content</span>
               </a>
            </li>
            <!--
            <li ui-sref-active="active">
               <a ui-sref="app.docs" title="Cards" ripple="">
                  <em class="sidebar-item-icon fa fa-file-text-o"></em>
                  <span>Docs</span>
               </a>
            </li>
            <li ui-sref-active="active">
               <a ui-sref="app.media" title="Media" ripple="">
                  <em class="sidebar-item-icon fa fa-film"></em>
                  <span>Media</span>
               </a>
            </li>
            -->
            <li ui-sref-active="active">
               <a ui-sref="app.notes" title="Notes" ripple="">
                  <em class="sidebar-item-icon fa fa-pencil"></em>
                  <span>Notes</span>
               </a>
            </li>
            <hr>
            <li ui-sref-active="active" ng-if="isSuperAdmin()">
               <a href="{{url}}/admin" title="Admin" ripple="">
                  <em class="sidebar-item-icon fa fa-key"></em>
                  <span>Backend Admin</span>
               </a>
            </li>
         </ul>


         <!-- STUDENT MENU -->
         <ul class="nav" ng-if="isStudent()" ng-controller="StudentMenuController as SMC">
            <!-- Iterates over all sidebar items-->
            <li class="nav-heading">
               <span translate="sidebar.heading.HEADER" class="text-muted">Main Navigation</span>
            </li>

            <li ui-sref-active="active" ng-repeat="mc in moduleMenuContent">
               <a ripple="" ui-sref="app.studentdashboard({content: mc.id})" ng-click="SMC.currentModule = mc.id;SMC.setCurrentModule();">
                  <em class="sidebar-item-icon fa fa-file-text-o"></em>
                  <span>{{ mc.name }}</span>
               </a>
            </li>
         </ul>
      </div>
      <footer class="footer">
         <span>&copy; {{app.year}} - {{ app.name }}</span>
      </footer>
   </div>
</div>
<!-- END Sidebar-->