<!-- START Top Navbar-->
<nav role="navigation" ng-controller="HeaderNavController as header" class="navbar topnavbar">
   <!-- START button offset-->
   <!--
   <div class="btn-offset">
      <button type="button" btn-layer-morph="" target="#layer-search" ripple="" class="btn btn-info btn-circle btn-lg shadow-z1">
         <em class="fa fa-search"></em>
      </button>
   </div>
   -->
   <!-- START button offset-->
   <!-- START navbar header-->
   <div class="navbar-header">
      <a ui-sref="app.studentdashboard" class="navbar-brand">
         <img src="app/img/tlmlogo500w.png" alt="App Logo" class="img-responsive" />
      </a>
      <!-- Mobile buttons-->
      <div class="mobile-toggles">
         <!-- Button to show/hide the sidebar on mobile. Visible on mobile only.-->
         <a href="" ng-click="app.sidebar.isOffscreen = !app.sidebar.isOffscreen" class="sidebar-toggle">
            <em class="fa fa-navicon"></em>
         </a>
         <!-- Button to show/hide the header menu on mobile. Visible on mobile only.-->
         <a href="" ng-click="header.toggleHeaderMenu()" class="menu-toggle hidden-material">
            <em class="fa fa-ellipsis-v fa-fw"></em>
         </a>
      </div>
   </div>
   <!-- END navbar header-->
   <!-- START Nav wrapper-->
   <div collapse="header.headerMenuCollapsed" class="nav-wrapper collapse navbar-collapse">
      <!-- START Left navbar-->
      <ul class="nav navbar-nav hidden-material">
         <li>
            <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
            <a href="" ng-click="app.sidebar.isOffscreen = !app.sidebar.isOffscreen" class="hidden-xs">
               <em ng-class="app.sidebar.isOffscreen ? 'fa-caret-right':'fa-caret-left'" class="fa"></em>
            </a>
         </li>
         <!-- START Apps menu-->
         <li dropdown="" class="dropdown">
            <a href="" dropdown-toggle="" ripple="" class="dropdown-toggle">
               <em class="fa fa-th fa-fw"></em>
               <span class="visible-xs-inline ml">Applications</span>
            </a>
            <!-- START Dropdown menu-->
            <ul id="bg-white" class="dropdown-menu p wd-lg">
               <div class="row ml0 mr0 mt mb text-center">
                  <div class="col-xs-4">
                     <div class="pv">
                        <a ui-sref="app.extras.profile">
                           <span class="block mb">
                              <em class="icon-head fa-2x text-warning"></em>
                           </span>
                           <small class="text-muted">Profile</small>
                        </a>
                     </div>
                  </div>
                  <div class="col-xs-4">
                     <div class="pv">
                        <a href="" data-ng-click="logout()">
                           <span class="block mb">
                              <em class="fa fa-sign-out fa-2x text-warning"></em>
                           </span>
                           <small class="text-muted">Logout</small>
                        </a>
                     </div>
                  </div>
                  <!--
                  <div class="col-xs-4">
                     <div class="pv">
                        <a ui-sref="app-fh.mailbox.folder.list({folder: 'inbox'})">
                           <span class="block mb">
                              <em class="icon-mail fa-2x text-primary"></em>
                           </span>
                           <small class="text-muted">Mailbox</small>
                        </a>
                     </div>
                  </div>
                  <div class="col-xs-4">
                     <div class="pv">
                        <a ui-sref="app.extras.calendar">
                           <span class="block mb">
                              <em class="fa fa-calendar fa-2x text-danger"></em>
                           </span>
                           <small class="text-muted">Calendar</small>
                        </a>
                     </div>
                  </div>
                  <div class="col-xs-4">
                     <div class="pv">
                        <a ui-sref="app.maps.vector">
                           <span class="block mb">
                              <em class="icon-map fa-2x text-success"></em>
                           </span>
                           <small class="text-muted">Map</small>
                        </a>
                     </div>
                  </div>
                  <div class="col-xs-4">
                     <div class="pv">
                        <a ui-sref="app.dashboard">
                           <span class="block mb">
                              <em class="icon-bar-graph-2 fa-2x text-info"></em>
                           </span>
                           <small class="text-muted">Dashboard</small>
                        </a>
                     </div>
                  </div>
                  <div class="col-xs-4">
                     <div class="pv">
                        <a ui-sref="app.extras.gallery">
                           <span class="block mb">
                              <em class="icon-image fa-2x text-muted"></em>
                           </span>
                           <small class="text-muted">Gallery</small>
                        </a>
                     </div>
                  </div>
                  -->
               </div>
            </ul>
         </li>
         <li>
            <span>
               <em class="icon-head fa-2x" style="margin-top: 20px; margin-left: 5px;"></em>
            </span>
         </li>
         <li>
            <div ng-controller="DashboardController as dashboard" style="margin-top: 12px; margin-left: 20px;">
               <div>
                  <h3 style="margin-top: 10px; margin-bottom: 1px;">FName Lname</h3>
               </div>
               <div ng-if="isSuperAdmin()" style="color:red;"><b>SUPER ADMIN</b>
               </div>
               <div ng-if="isAdmin()">Facilitator</div>
               <div ng-if="isStudent()">Student</div>
         </li>
         <!-- END Apps menu-->
         <!-- START lock screen-->

         <!-- END lock screen-->
      </ul>
      <div ng-controller="DashboardController as dashboard">
         <ul ng-if="isStudent()" style="margin-top: 30px; margin-left: 20px; bottom: 0px;" class='pull-right nav navbar-bar'>
            <button ui-sref-active="active" type="button" class="btn btn-default" aria-label="Left Align">
               <a ui-sref="app.studentdashboard" title="Student Dashboard" ripple="">
                  <em class="sidebar-item-icon fa fa-home"></em>
                  <span>Home</span>
               </a>
            </button>
            <button ui-sref-active="active" type="button" class="btn btn-default" aria-label="Left Align">
               <a ui-sref="app.studentvideo" title="Video" ripple="">
                  <em class="sidebar-item-icon fa fa-film"></em>
                  <span>Video</span>
               </a>
            </button>
            <button ui-sref-active="active" type="button" class="btn btn-default" aria-label="Left Align">
               <a ui-sref="app.studentreadme" title="Readme" ripple="">
                  <em class="sidebar-item-icon fa fa-file-text-o"></em>
                  <span>Readme</span>
               </a>
            </button>
            <button ui-sref-active="active" type="button" class="btn btn-default" aria-label="Left Align">
               <a ui-sref="app.studentcode" title="Mailbox" ripple="">
                  <em class="sidebar-item-icon fa fa-code"></em>
                  <span>Code Editor</span>
               </a>
            </button>


            <!-- NOTES MENU DROPDOWN -->
            <span dropdown="" class="dropdown">
               <button ui-sref-active="active" type="button" class="btn btn-default">
                  <a title="Notes" dropdown-toggle="" ripple="" class="dropdown-toggle">
                     <em class="sidebar-item-icon fa fa-file-o"></em>
                     <span>Notes</span>
                  </a>
               </button>
               <!-- START Dropdown menu-->
               <ul id="bg-white" class="dropdown-menu p wd-lg">

                  <li ng-controller="ModalController as modal">
                     <a ng-click="modal.open()" href="">
                        <em class="fa fa-plus-circle"></em>
                        <span class="ml">Create Note</span>
                     </a>
                  </li>
                  <li>
                     <a ui-sref="app.studentnotes">
                        <em class="fa fa-file-o"></em>
                        <span class="ml">View Notes</span>
                     </a>
                  </li>
               </ul>
            </span>

            <button ui-sref-active="active" type="button" class="btn btn-default" aria-label="Left Align">
               <a ui-sref="app.studentextras" title="Mailbox" ripple="">
                  <em class="sidebar-item-icon icon-ribbon"></em>
                  <span>Extras</span>
               </a>
            </button>
         </ul>
      </div>
      <!-- END Left navbar-->
      </div>
      <!-- END Nav wrapper-->

</nav>
<!-- END Top Navbar-->