#editor_code {
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

#editor_tests {
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 200px;
    width: 100%;
}

#code-output {
  height: 10vh; 
  width: 100%;
}

.console {
    height: 10vh;
}

.code-time {
  height: 500px;
}

.instruction-panel {
    min-height: 82vh;
}

.ace_editor {
    position: relative !important;
    border: 1px solid lightgray;
    margin: auto;
    width: 80%;
    height: 500px;
}

.ace_editor.fullScreen {
    height: auto;
    width: auto;
    border: 0;
    margin: 0;
    position: fixed !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.fullScreen {
    overflow: hidden
}