.profile-list {
	overflow: hidden;
}

.student-list-item {
	overflow: hidden;
	margin-bottom: 2em;
	
	float: none;
}

textarea {
	resize: none !important;
}

.btn-note-save {
	width: 100%;
	margin-top: 2px;
}

.note-text-area {

}

.tlm-login-logo {
	margin-top:24%;
}

.profile-image-circle {
	height: 150px;
}

.profile-image-container {

}

.profile-name-container {
	text-align: center;
	vertical-align: middle;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.row {

}