<div class="row" ng-controller="EditHomePageController as EHC">
<div class="col-lg-12">
      <!-- START Tabbed panel-->
      <div class="panel panel-default">
        <div class="row">
            <div class="col-xs-12">
              <div class="panel-body">
                <form method="post">
                  <select class="form-control" ng-model="course" ng-options="course as course.name for course in courses track by course.id" ng-change="EHC.loadContent(course.id)">
                    <option value="">--- Select Course ---</option>
                  </select>
                  <textarea ng-value="homeContent.value" ui-tinymce="tinymceOptions" ng-model="homeContent.content" class="edit-home-page"></textarea><br>
                  <button ng-click="EHC.saveHomePage()" class="btn btn-success pull-right">Save</button>
                </form>
              </div>
            </div>
      </div>
    </div>
  </div>
</div>