<div class="noteviewer row" ng-controller="AdminNotesController as ANC">
  <div class="col-xs-3 note-picker">
    <h3>Saved notes</h3>
    <ul class="note-list">
      <li class="note-item" ng-repeat="note in ANC.notes" ng-click="ANC.selectedNote = note">
        {{ note.title }}
      </li>
    </ul>
  </div>
  <div class="col-xs-9 note-viewer">
    <div class="row title">
      <h3 ng-class="{placeholder: !ANC.selectedNote}" class="col-xs-10">{{ ANC.selectedNote ? ANC.selectedNote.title : 'Select a note on left to read it' }}</h3>
    </div>
    <div ng-if="ANC.selectedNote" class="row body">
      <div class="col-xs-10" marked="ANC.selectedNote.body"></div>
    </div>
  </div>
</div>