<div ng-controller="AdminLessonsController as ALC">
  <div class="row">
    <div class="col-lg-12">
          <!-- START Tabbed panel-->
          <div class="panel panel-default">
            <div class="row">
                <div class="col-md-6">
                  <div class="panel-body">
                    <h3>{{ ALC.LFILEediting ? 'Edit' : 'Add' }}  Lesson Content</h3>

                    <div ng-show="!ALC.LFILEediting">
                        <form>
                            <input type="file" ngf-select ng-model="ALC.lessonContents.file" name="ALC.lessonContents.file" class="form-control" ng-change="ALC.getFilename(ALC.lessonContents)"/><small>Note: filename will be canged to a guid when stored.</small><br><br>
                            <input ng-model="ALC.lessonContents.name" class="form-control" placeholder="Content Name (will be shown on lables)"><br>
                            <input ng-model="ALC.lessonContents.description" class="form-control" placeholder="Description"><br>
                            <select name="ALC.lessonContents.content_type" ng-model="ALC.lessonContents.content_type"  class="form-control">
                              <option value="">--- Select Content Type ---</option>
                              <option ng-repeat="ct in customcontenttypes" value="{{ct.id}}">{{ct.name}}</option>
                            </select><br>
                            <select name="ALC.lessonContents.module" ng-model="ALC.lessonContents.module" class="form-control">
                              <option value="">--- Select Lesson ---</option><br>
                              <option ng-repeat="ls in lessons" value="{{ls.id}}">{{ls.name}}</option>
                            </select><br>
                            <div class="alert alert-info">Full Path:<br>{{ALC.lessonContents.file || "- Create or view content to see path - "}}</div>
                            <div class="alert alert-info">Relative Path:<br>{{ALC.lessonContents.file_url || "- Create or view content to see path - "}}</div><br>
                            <button class="btn save-btn" ng-click="ALC.LFILEsave()" tabindex="-1">Save</button>
                            <button class="btn save-btn" ng-click="ALC.LFILEsave()" tabindex="-1">Save</button>
                        </form>
                    </div>
                    <div ng-show="ALC.LFILEediting">
                        <form>
                            <input type="file" ngf-select ng-model="ALC.selectedLessonContent.file" name="ALC.selectedLessonContent.file" class="form-control" ng-change="ALC.getFilename(ALC.selectedLessonContent)"/><small>Note: filename will be canged to a guid when stored.</small><br><br>
                            <input ng-model="ALC.selectedLessonContent.name" class="form-control" placeholder="Content Name (will be shown on lables)"><br>
                            <input ng-model="ALC.selectedLessonContent.description" class="form-control" placeholder="Description"><br>
                            <select name="ALC.selectedLessonContent.content_type" ng-model="ALC.lessonContents.content_type"  class="form-control">
                              <option value="">--- Select Content Type ---</option>
                              <option ng-repeat="ct in customcontenttypes" ng-selected="ALC.selectedLessonContent.content_type == ct.id"  value="{{ct.id}}">{{ct.name}}</option>
                            </select><br>
                            <select name="ALC.selectedLessonContent.module" ng-model="ALC.lessonContents.module" class="form-control">
                              <option value="">--- Select Lesson ---</option><br>
                              <option ng-repeat="ls in lessons" ng-selected="ALC.selectedLessonContent.module == ls.id" value="{{ls.id}}">{{ls.name}}</option>
                            </select><br>
                            <div class="alert alert-info">Full Path:<br>{{ALC.selectedLessonContent.file}}</div>
                            <div class="alert alert-info">Relative Path:<br>{{ALC.selectedLessonContent.file_url}}</div><br>
                            <button class="btn save-btn" ng-click="ALC.LFILEsave()" tabindex="-1">Save</button>
                        </form>

                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="panel-body">
                    <h3>Lesson Content</h3>
                    <div ng-repeat="lessoncontent in lessoncontents">
                      <a href="" ng-click="ALC.selectedLessonContent = lessoncontent; ALC.LFILEedit()">{{lessoncontent.file_url}}</a><a href ="{{lessoncontent.file}}" class="btn btn-xs" ng-click="ALC.removeLessonContent(lessoncontent,$index)" ng-confirm-click="Are you sure you want to delete this lesson content ({{lessoncontent.name}})?"><em class="sidebar-item-icon fa fa-times"></em></a>
                    </div>
                  </div>
                </div>
            </div>
          </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
          <!-- START Tabbed panel-->
          <div class="panel panel-default">
            <div class="row">
                <div class="col-md-6">
                  <div class="panel-body">
                    <h3>{{ ALC.LSNediting ? 'Edit' : 'Add' }} Lesson</h3>
                      <!--
                      <h3 ng-show="!ALC.editing" ng-class="{placeholder: !ALC.selectedLesson}" class="col-xs-10">{{ ALC.selectedLesson ? ALC.selectedLesson.name : 'Select a note on left to read it' }}</h3>
                      -->
                    <div ng-show="ALC.LSNediting">
                      <input ng-model="ALC.selectedLesson.name" class="form-control"><br>
                      <input class="form-control" ng-model="ALC.selectedLesson.description" placeholder="Description"></input><br>
                      <select name="course.id" ng-model="ALC.selectedLesson.course" class="form-control">
                        <option value="">--- Select Course ---</option>
                        <option ng-selected="ALC.selectedLesson.course == course.id" ng-model="ALC.selectedLesson.course" ng-repeat="course in courses" value="{{course.id}}">{{course.name}}</option>
                      </select><br>
                      <button ng-show="ALC.LSNediting" class="btn btn-edit" ng-click="ALC.LSNeditSave(course)">Save
                      </button>
                    </div>

                    <div ng-show="!ALC.LSNediting">
                      <form name="newALC" ng-submit="submit()">
                      <input ng-show="!ALC.LSNediting" class="form-control" ng-model="ALC.lesson.name" placeholder="Lesson Name"></input><br>
                      <input class="form-control" ng-model="ALC.lesson.description" placeholder="Description"></input><br>
                      <select name="course.id" ng-model="ALC.lesson.course" class="form-control">
                        <option value="">--- Select Course ---</option>
                        <option ng-repeat="course in courses" value="{{course.id}}">{{course.name}}</option>
                      </select><br>
                      <button class="btn save-btn" ng-click="ALC.LSNsave()" tabindex="-1">Save</button>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="panel-body">
                    <h3>Lessons</h3>
                    <div ng-repeat="lesson in lessons">
                      <a href="" ng-click="ALC.selectedLesson = lesson; ALC.LSNedit()">{{lesson.name}} {{lesson.course}}</a><a class="btn btn-xs" ng-click="ALC.removeLesson(lesson,$index)" ng-confirm-click="Are you sure you want to delete this lesson ({{lesson.name}})?"><em class="sidebar-item-icon fa fa-times"></em></a>
                    </div>
                  </div>
                </div>
            </div>
          </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
          <!-- START Tabbed panel-->
          <div class="panel panel-default">
            <div class="row">
                <div class="col-md-6">
                  <div class="panel-body">
                    <h3>{{ ALC.CRSediting ? 'Edit' : 'Add' }}  Course</h3>
                    <div ng-show="!ALC.CRSediting">
                        <form>
                        <input class="form-control" ng-model="ALC.course.name" placeholder="Name"></input><br>
                        <input class="form-control" ng-model="ALC.course.description" placeholder="Description"></input><br>
                        <button class="btn save-btn" ng-click="ALC.CRSsave()" tabindex="-1">Save</button>
                        </form>
                    </div>
                    <div ng-show="ALC.CRSediting">
                        <form>
                        <input class="form-control" ng-model="ALC.selectedCourse.name" placeholder="Name"></input><br>
                        <input class="form-control" ng-model="ALC.selectedCourse.description" placeholder="Description"></input><br>
                        <button class="btn save-btn" ng-click="ALC.CRSeditSave()" tabindex="-1">Save</button>
                        </form>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="panel-body">
                    <h3>Courses</h3>
                    <div ng-repeat="course in courses">
                      <a href="" ng-click="ALC.selectedCourse = course; ALC.CRSedit()">{{course.name}}</a><a class="btn btn-xs" ng-click="ALC.removeCourse(course,$index)" ng-confirm-click="Are you sure you want to delete this course ({{course.name}})?"><em class="sidebar-item-icon fa fa-times"></em></a>
                    </div>
                  </div>
            </div>
          </div>
    </div>
  </div>
</div>

