<div ng-controller="ViewStudentsController as VSC" class="container">
   <!-- START VSC content-->
   <div class="col-xl-12 fw fw-boxed" ng-repeat="student in students">
      <!-- START Tabbed panel-->
      <div ng-init="hpanel = [true, false, false, false]" class="panel panel-default">
         <div class="row">
            <div class="col-md-2">
               <div class="text-center text-muted clickable" ui-sref="app.extras.profile({selectedStudent: student.id})">
                        <a ng-href="{{mediaUrl}}/{{student.profile_image}}" class="thumbnail nopadding">
                        <img ng-src="{{mediaUrl}}/{{student.profile_image}}" class="" />
                        </a>

                  
               </div>
            </div>
            <div class="col-md-2 nopadding clickable" ui-sref="app.extras.profile({selectedStudent: student.id})">
               <div ripple="" ng-click="" class="clickable profile-name-container">
                  <h2>{{student.first_name}}
                     <br>{{student.last_name}}</h2>
                  <p>Level: {{student.course}}</p>
                  <!-- <p>Success Rank: {{student.rank}}</p> -->
                  <p>&nbsp;</p>
               </div>
            </div>
            <div class="text-center">
               <div class="col-xs-3 col-md-2">
                  <textarea ng-model="notetext" rows="6" class="form-control note-text-area" placeholder="Add Note"></textarea>
                  <button ng-click="VSC.saveNote(notetext,student)" type="button" class="mr btn btn-md btn-default btn-fw btn-note-save">Save</button>
               </div>
               <div class="text-center col-xs-3 col-md-2" style="padding: 10px;">
                  <!-- <p class="input-group">
                     <input type="text" datepicker-popup ng-model="student.dt" is-open="student.datepickerOpen" close-text="Close" init-date="VSC.defaultDate" class="form-control">
                     <span class="input-group-btn">
                        <button type="button" ng-click="VSC.toggleDatepicker($event, student)" class="btn btn-default">
                           <em class="fa fa-calendar"></em>
                        </button>
                     </span>
                  </p> -->
                  <h4>{{VSC.today}}</h4>
                  <hr>
                  <p>
                     <div class="checkbox c-checkbox needsclick">
                        <label class="needsclick">
                           <input type="radio" class="needsclick" ng-model="student.attendance" ng-change="VSC.recordAttendance(student,'None')" ng-value="null">
                           <span class="fa fa-check" ></span>Absent Full</label>
                     </div>
                     <div class="checkbox c-checkbox needsclick">
                        <label class="needsclick">
                           <input type="radio" class="needsclick" ng-model="student.attendance" ng-change="VSC.recordAttendance(student,false)" ng-value="false">
                           <span class="fa fa-check" ></span>Absent Part</label>
                     </div>
                     <div class="checkbox c-checkbox needsclick">
                        <label class="needsclick">
                           <input type="radio" class="needsclick" ng-model="student.attendance" ng-change="VSC.recordAttendance(student,true)" ng-value="true">
                           <span class="fa fa-check" ></span>Present</label>
                     </div>
                  </p>
               </div>
               <div class="text-center col-xs-3 col-md-2" style="padding: 10px;" ng-controller="RatingDemoController as rating">
                  <h4>Daily Scores</h4>
                  <hr>

                  <div>
                  <label for="tech_score">Tech</label>
                  <rating ng-model="student.tech_score" max="rating.max" readonly="rating.isReadonly" on-hover="rating.hoveringOver(value)" on-leave="rating.overStar = null" state-on="'fa fa-star text-orange'" state-off="'fa fa-star-o'" id="tech_score" ng-change="VSC.recordTechnicalScore(student)"></rating>
                  </div>

                  <div>
                  <label for="tech_score">Social</label>
                  <rating ng-model="student.social_score" max="rating.max" readonly="rating.isReadonly" on-hover="rating.hoveringOver(value)" on-leave="rating.overStar = null" state-on="'fa fa-star text-orange'" state-off="'fa fa-star-o'" id="tech_score" ng-change="VSC.recordSocialScore(student)"></rating>
                  </div>

                  <div>
                  <label for="tech_score">Participation</label>
                  <rating ng-model="student.participation_score" max="rating.max" readonly="rating.isReadonly" on-hover="rating.hoveringOver(value)" on-leave="rating.overStar = null" state-on="'fa fa-star text-orange'" state-off="'fa fa-star-o'" id="tech_score" ng-change="VSC.recordParticipationScore(student)"></rating>
                  </div>
               </div>
         </div>
      </div>
   </div>
</div>
</div>
<!-- END VSC content-->
</div>