<div class="row" ng-controller="AdminLessonsController as ALC">
    <div class="col-lg-12">
          <!-- START Tabbed panel-->
          <div class="panel panel-default">
            <div class="row">
                <div class="col-md-8">
                  <div class="panel-body">
                    <h3>{{ ALC.LFILEediting ? 'Edit' : 'Add' }}  Module Content <div ng-show="ALC.LFILEediting">
                    <button class="btn btn-xs btn-success" ng-click="ALC.editMode()" tabindex="-1">Add New Content</button>
                    </div></h3>
                    
                    <div ng-show="!ALC.LFILEediting">
                        <form>
                            <small>Content File</small>
                            <input type="file" ngf-select ng-model="ALC.lessonContents.file" name="ALC.lessonContents.file" class="form-control" ng-change="ALC.getFilename(ALC.lessonContents)"/><small>Note: filename will be canged to a guid when stored.</small><br><br>
                            <small>Optional Thumbnail</small>
                            <input type="file" ngf-select ng-model="ALC.lessonContents.thumbnail" name="ALC.lessonContents.thumbnail" class="form-control" ng-change="ALC.getFilename(ALC.lessonContents)"/><br>
                            <input ng-model="ALC.lessonContents.name" class="form-control" placeholder="Content Name (will be shown on lables)"><br>
                            <input ng-model="ALC.lessonContents.description" class="form-control" placeholder="Description"><br>
                            <select name="ALC.lessonContents.content_type" ng-model="ALC.lessonContents.content_type"  class="form-control">
                              <option value="">--- Select Content Type ---</option>
                              <option ng-repeat="ct in customcontenttypes" value="{{ct.id}}">{{ct.name}}</option>
                            </select><br>
                            <select name="ALC.lessonContents.module" ng-model="ALC.lessonContents.module" class="form-control">
                              <option value="">--- Select Module ---</option>
                              <option value="g">* Global Content *</option>
                              <option ng-repeat="ls in lessons" value="{{ls.id}}">{{ls.name}}</option>
                            </select><br>
                            <div class="alert alert-info"><h4>Full path to file<span class="label label-primary">Only applies to this deployment</span></h4>
                                <div>
                                    
                                    {{ALC.lessonContents.file_url ? ALC.lessonContents.file_url : ' - Create or view content to see path - '}}
                                </div>
                            </div>
                            <div class="alert alert-info"><h4>Relative path to file <span class="label label-primary">Applies to all deployments</span></h4>{{ALC.lessonContents.relative_url || "- Create or view content to see path - "}}</div><br>
                        <button busy="Submitting.." class="btn save-btn btn-primary" ng-click="ALC.LFILEsave()" tabindex="-1"><busy-message><i class="fa fa-refresh fa-spin"></i>&nbsp;&nbsp;Content Uploading. Please wait, this will take some time...</busy-message>
                        Save</button>
                        </form>
                    </div>
                    <div ng-show="ALC.LFILEediting">
                        <form>
                            <small>Content File</small>
                            <input type="file" ngf-select ng-model="ALC.selectedLessonContent.file" name="ALC.selectedLessonContent.file" class="form-control" ng-change="ALC.getFilename(ALC.selectedLessonContent)"/><small>Note: filename will be canged to a guid when stored.</small><br><br>
                            <small>Optional Thumbnail</small>
                            <input type="file" ngf-select ng-model="ALC.lessonContents.thumbnail" name="ALC.lessonContents.thumbnail" class="form-control" ng-change="ALC.getFilename(ALC.lessonContents)"/><br>
                            <input ng-model="ALC.selectedLessonContent.name" class="form-control" placeholder="Content Name (will be shown on lables)"><br>
                            <input ng-model="ALC.selectedLessonContent.description" class="form-control" placeholder="Description"><br>
                            <select name="ALC.selectedLessonContent.content_type" ng-model="ALC.lessonContents.content_type"  class="form-control">
                              <option value="">--- Select Content Type ---</option>
                              <option ng-repeat="ct in customcontenttypes" ng-selected="ALC.selectedLessonContent.content_type == ct.id"  value="{{ct.id}}">{{ct.name}}</option>
                            </select><br>
                            <select name="ALC.selectedLessonContent.module" ng-model="ALC.lessonContents.module" class="form-control">
                              <option value="">--- Select Module ---</option><br>
                              <option ng-repeat="ls in lessons" ng-selected="ALC.selectedLessonContent.module == ls.id" value="{{ls.id}}">{{ls.name}}</option>
                            </select><br>
                            <div class="alert alert-info"><h4>Full path to file<span class="label label-primary">Only applies to this deployment</span></h4><br>{{ALC.selectedLessonContent.file_url}}</div>
                            <div class="alert alert-info"><h4>Relative path to file <span class="label label-primary">Applies to all deployments</span></h4>{{ALC.selectedLessonContent.relative_url}}</div>
                            <div class="alert alert-warning" ng-show="ALC.selectedLessonContent.extracted_path">Path to extracted contents:<br>
                                {{ALC.selectedLessonContent.extracted_path}}

                                <div compile="ALC.selectedLessonContent.directory_contents">
                                </div>
                            </div>
                            <button busy="Submitting.." class="btn save-btn btn-primary" ng-click="ALC.LFILEeditSave()" tabindex="-1"><busy-message><i class="fa fa-refresh fa-spin"></i>&nbsp;&nbsp;Content Uploading. Please wait, this will take some time...</busy-message>
                        Save</button>
                        </form>

                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="panel-body">
                    <h3>Module Content</h3>
                    <div ng-repeat="lessoncontent in lessoncontents">
                      <a href="" ng-click="ALC.selectedLessonContent = lessoncontent; ALC.LFILEedit()">{{lessoncontent.name}}</a><a href ="{{lessoncontent.file}}" class="btn btn-xs" ng-click="ALC.removeLessonContent(lessoncontent,$index)" ng-confirm-click="Are you sure you want to delete this lesson content ({{lessoncontent.name}})?"><em class="sidebar-item-icon fa fa-times"></em></a>
                    </div>
                  </div>
                </div>
            </div>
          </div>
    </div>
  </div>