<div ng-controller="DashboardController as dashboard">
   <div style="background:url(app/img/profile.jpg) center center; background-size:cover;" class="unwrap">
      <div ng-if="!$root.selectedStudent" class="container container-lg p-lg">
         <div class="media mt-lg">
            <div class="media-left media-middle">
               <a href="{{mediaUrl}}/{{user.profile_image}}">
                  <img ng-src="{{mediaUrl}}/{{user.profile_image}}" class="img-circle profile-image-circle" />
               </a>
            </div>
            <div class="media-body text-white">
               <div class="col-sm-6">
                  <div ripple="" class="panel panel-default">
                     <div ng-class="'bg-' + app.theme.name" class="panel-body bg-primary">
                     <h2 class="mv-lg media-heading">{{user.first_name}} {{user.last_name}}</h2>
                     </div>
                  </div>
                  <div ripple="" class="panel panel-default" ng-if="user.inmate_id">
                     <div ng-class="'bg-' + app.theme.name" class="panel-body bg-primary">
                        <div class="text-left text-md">ID# {{user.inmate_id}}</div>
                     </div>
                  </div>
               </div>
               <div class="col-sm-6">
                  <div ripple="" class="panel panel-default">
                     <div ng-class="'bg-' + app.theme.name" class="panel-body bg-primary">
                        <div class="text-left text-md" ng-if="isSuperAdmin()" style="color:red;"><b>SUPER ADMIN</b></div>
                        <div class="text-left text-md" ng-if="isAdmin()">Facilitator</div>
                        <div class="text-left text-md" ng-if="isStudent()">Student</div>
                     </div>
                  </div>
               </div>
               <div class="col-sm-6" ng-if="isStudent()">
                  <div ripple="" class="panel panel-default">
                     <div ng-class="'bg-' + app.theme.name" class="panel-body bg-primary">
                        <div class="text-left text-md">{{user.course}}</div>
                     </div>
                     <span class="ripple"></span>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div ng-if="$root.selectedStudent" class="container container-lg p-lg">
         <div class="media mt-lg">
            <div class="media-left media-middle">
               <a ng-href="{{$root.mediaUrl}}{{$root.selectedStudent.profile_image}}" data-gallery="">
                  <img ng-src="{{$root.mediaUrl}}{{$root.selectedStudent.profile_image}}" class="img-circle profile-image-circle" />
               </a>
            </div>
            <div class="media-body text-white">
               <div class="col-sm-6">
                  <div ripple="" class="panel panel-default">
                     <div ng-class="'bg-' + app.theme.name" class="panel-body bg-primary">
                     <h2 class="mv-lg media-heading">{{$root.selectedStudent.first_name}} {{$root.selectedStudent.last_name}}</h2>
                     </div>
                  </div>
                  <div ripple="" class="panel panel-default" ng-if="$root.selectedStudent.inmate_id">
                     <div ng-class="'bg-' + app.theme.name" class="panel-body bg-primary">
                        <div class="text-left text-md">ID# {{$root.selectedStudent.inmate_id}}</div>
                     </div>
                  </div>
               </div>
               <div class="col-sm-6">
                  <div ripple="" class="panel panel-default">
                     <div ng-class="'bg-' + app.theme.name" class="panel-body bg-primary">
                        <div class="text-left text-md" >Student</div>
                     </div>
                  </div>
               </div>
               <div class="col-sm-6">
                  <div ripple="" class="panel panel-default">
                     <div ng-class="'bg-' + app.theme.name" class="panel-body bg-primary">
                        <div class="text-left text-md">{{$root.selectedStudent.course}}</div>
                     </div>
                     <span class="ripple"></span>
                  </div>
               </div>
            </div>
         </div>
      </div>

   </div>

   <div ng-if="(isAdmin() || isSuperAdmin()) && $root.selectedStudent" class="container container-lg">
      <div class="row">
         <div class="col-lg-12">
            <div class="panel">
               <div class="panel-body" ng-controller="CalendarController as calendar" > 

                  <tabset>
                     <tab heading="Tests">
                        <div class="panel panel-default">
                              <div class="panel-heading">
                                 <div class="panel-title">Test Scores</div>
                              </div>
                              <div class="panel-body">
                                 <div class="row">
                                    <div class="col-lg-12" ng-controller="FlotChartController as flot">
                                       <flot ng-src="$root.customUrl.url+'/server/chart/line.json'" options="flot.chartLineFlotChart" series="{lines: flot.lineSeriesLines, points: flot.lineSeriesPoints}"></flot>
                                    </div>
                                 </div>
                              </div>
                           </div>
                     </tab>
                     
                     <tab heading="Notes">
                        <div class="noteviewer row" ng-controller="StudentNotesController as SNC">
                           <div class="col-xs-12">
                              <div class="note-list">
                                 <div ng-if="$root.notes.length < 1">No notes from this student.</div>
                                 <div class="note-item panel" style="padding:5px;" ng-repeat="note in $root.notes" ng-click="SNC.selectedNote = note">
                                   <span class="label label-default">{{ note.date | date : medium }}</span>
                                   <br>
                                   <p>
                                    <span ng-if="note.instructor_author">INSTRUCTOR NOTE:</span>
                                    <span ng-if="!note.instructor_author">STUDENT NOTE:</span>
                                    <br>{{ note.body }}
                                   </p>
                                 </div>
                               </div>
                           </div>
                        </div>
                     </tab>
                     <tab heading="Attendance" ng-selected="calendar.renderCalendar()">
                        <div class="row">
                           <div class="col-xs-12">
                              <a ng-click="calendar.selectedYear=calendar.selectedYear+d; calendar.changeYear(calendar.selectedYear)" ng-class="{active: calendar.selectedYear+d==calendar.selectedYear}"class="btn btn-xs pull-right" ng-repeat="d in [1, 0, -1]">{{calendar.selectedYear+d}}</a><br><hr style="border: none; border-bottom: 1px solid #e6e9ee;">
                           </div>
                        </div>
                        <div class="row">
                           <div class="calendar-app col-sm-4 col-md-3 col-lg-3" ng-repeat="m in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]">
                              <div class="panel panel-default">
                                 <div class="panel-body">
                                    <div ng-model="calendar.eventSources" calendar="calendar.myCalendar" ui-calendar="calendar.uiConfig.calendar_{{m}}" class="calendars"></div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </tab>
                  </tabset>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>