<div class="container container-sm animated fadeInDown">
   <div class="center-block mt-xl">
      <!-- START panel-->
      <img src="app/img/tlmlogo500w.png" alt="Image" class="center-block img-rounded" />
      <br>
      <div class="panel">
         <div class="panel-body">
            <p class="pv">
               <strong>RESET PASSWORD</strong>
               <br/>The class facilitator will be notified to reset your password.</p>
            <form role="form">
               <div class="row">
                  <div class="col-md-8">
                     <div class="form-group has-feedback">
                        <input id="resetInputEmail1" type="text" placeholder="Your Username" autocomplete="off" class="form-control" />
                        <span class="fa fa-user form-control-feedback text-muted"></span>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <button type="submit" class="btn btn-danger btn-block">Request Reset</button>
                  </div>
               </div>
            </form>
         </div>
      </div>
      <div class="text-center mt"><a ui-sref="page.login" class="text-muted">Go to Login Screen</a>
      <!-- END panel-->
      <div ng-include="'app/views/page.footer.html'" class="p-lg text-center"></div>
   </div>
</div>