<div class="app-view-header">Dashboard
   <small ng-bind="app.name + ' - ' + app.description"></small>
</div>
<div ng-controller="DashboardController as dashboard" class="row">
   <!-- START dashboard content-->
   <div class="col-lg-9 fw-boxed">
   <h1>Track 1 Overview</h1>
   <ul>
      <li>Foundations</li>
      <li>Python</li>
      <li>HTML</li>
      <li>CSS</li>
      <li>Javascript</li>
      <li>Database & Data Viz</li>
      <li>Into to MVC's</li>
      <li>UI / UX</li>
      <li>Functional JS</li>
      <li>JS and the DOM</li>
   </ul>
   <!-- END dashboard content-->
   <!-- START dashboard sidebar-->
   </div>

   <!-- END dashboard sidebar-->
   
</div>