<div ng-controller="AdminLessonsController as lessons">
   <div class="row">
      <div class="col-lg-12">
         <!-- START Tabbed panel-->
         <div class="panel panel-default">
            <div class="row">
               <div class="col-md-6">
                  <div class="panel-body">
                     <h3>Add Lesson Content</h3>
                     <input class="form-control" ng-model="NC.note.body" placeholder="Filesystem Path To Content"></input>
                     <br>
                     <input class="form-control" ng-model="NC.note.body" placeholder="Content Type (dropdown)"></input>
                     <br>
                     <button class="btn save-btn" ng-click="NC.save()" tabindex="-1">Save</button>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="panel-body">
                     <h3>Lesson Content</h3>
                     <div ng-repeat="lesson_content in lesson_contents">
                        <a>{{lesson_content.name}}</a>
                     </div>

                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="row">
      <div class="col-lg-12">
         <!-- START Tabbed panel-->
         <div class="panel panel-default">
            <div class="row">
               <div class="col-md-6">
                  <div class="panel-body">
                     <h3>Add Lesson</h3>
                     <input class="form-control" ng-model="NC.note.body" placeholder="Filesystem Path To Content"></input>
                     <br>
                     <input class="form-control" ng-model="NC.note.body" placeholder="Content Type (dropdown)"></input>
                     <br>
                     <button class="btn save-btn" ng-click="NC.save()" tabindex="-1">Save</button>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="panel-body">
                     <h3>Lesson Content</h3>
                     <div ng-repeat="lesson in lessons">
                        <a>{{lesson.name}} {{lesson.course}}</a>
                     </div>


                  </div>
               </div>
            </div>

         </div>
      </div>
   </div>

   <div class="row">
      <div class="col-lg-12">
         <!-- START Tabbed panel-->
         <div class="panel panel-default">
            <div class="row">
               <div class="col-md-6">
                  <div class="panel-body">
                     <h3>Add Course</h3>
                     <input class="form-control" ng-model="NC.note.body" placeholder="Name"></input>
                     <br>
                     <input class="form-control" ng-model="NC.note.body" placeholder="Description"></input>
                     <br>
                     <button class="btn save-btn" ng-click="NC.save()" tabindex="-1">Save</button>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="panel-body">
                     <h3>Lesson Content</h3>
                     <div ng-repeat="course in courses">
                        <a>{{course.name}}</a>
                     </div>

                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

