<div ng-controller="AdminLessonsController as ALC">
   <div class="row">
      <div class="col-lg-12">
         <!-- START Tabbed panel-->
         <div class="panel panel-default">
            <div class="row">
               <div class="col-md-6">
                  <div class="panel-body">
                     <h3>Add Lesson Content</h3>
                     <input class="form-control" ng-model="ALC.lessoncontents.link" placeholder="Filesystem Path To Content"></input>
                     <br>
                     <select name="ALC.lessoncontents.content_type" ng-model="ALC.lessoncontents.content_type">
                        <option value="">--- Please Select Content Type ---</option>
                        <option ng-repeat="ct in customcontenttypes" value="{{ct.id}}">{{ct.name}}</option>
                     </select>
                     <select name="ALC.lessoncontents.content_type" ng-model="ALC.lessoncontents.content_type">
                        <option value="">--- Please Select Lesson ---</option>
                        <option ng-repeat="ls in lessons" value="{{ls.id}}">{{ls.name}}</option>
                     </select>
                     <button class="btn save-btn" ng-click="NC.save()" tabindex="-1">Save</button>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="panel-body">
                     <h3>Lesson Content</h3>
                     <div ng-repeat="lesson_content in lesson_contents">
                        <a>{{lesson_content.name}}</a>
                     </div>

                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="row">
      <div class="col-lg-12">
         <!-- START Tabbed panel-->
         <div class="panel panel-default">
            <div class="row">
               <div class="col-md-6">
                  <div class="panel-body">
                     <h3>{{ ALC.LSNediting ? 'Edit' : 'Add' }} Lesson</h3>


                     <!--
                      <h3 ng-show="!ALC.editing" ng-class="{placeholder: !ALC.selectedLesson}" class="col-xs-10">{{ ALC.selectedLesson ? ALC.selectedLesson.name : 'Select a note on left to read it' }}</h3>
                      -->
                     <div ng-show="ALC.LSNediting">
                        <input ng-model="ALC.selectedLesson.name" class="form-control">
                        <br>
                        <input class="form-control" ng-model="ALC.selectedLesson.description" placeholder="Description"></input>
                        <br>
                        <select name="course.id" ng-model="ALC.lesson.course">
                           <option value="">--- Please Select Course ---</option>
                           <option ng-repeat="course in courses" value="{{course.id}}">{{course.name}}</option>
                        </select>
                        <button ng-show="ALC.LSNediting" class="btn btn-edit" ng-click="ALC.LSNeditSave()">Save
                        </button>
                     </div>

                     <!--
                    <div ng-if="ALC.selectedLesson" class="row body">
                      <div ng-show="!ALC.editing" class="col-xs-10" marked="ALC.selectedLesson.body"></div>
                      <div ng-show="ALC.editing" class="col-xs-10 edit-body">
                        <textarea class="form-control" ng-model="ALC.selectedLesson.body"></textarea>
                      </div>
                    </div>
                    -->

                     <div ng-show="!ALC.LSNediting">
                        <form name="newALC" ng-submit="submit()">
                           <input ng-show="!ALC.LSNediting" class="form-control" ng-model="ALC.lesson.name" placeholder="Lesson Name"></input>
                           <br>
                           <input class="form-control" ng-model="ALC.lesson.description" placeholder="Description"></input>
                           <br>
                           <select name="course.id" ng-model="ALC.lesson.course">
                              <option value="">--- Please Select Course ---</option>
                              <option ng-repeat="course in courses" value="{{course.id}}">{{course.name}}</option>
                           </select>
                           <button class="btn save-btn" ng-click="ALC.LSNsave()" tabindex="-1">Save</button>
                        </form>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="panel-body">
                     <h3>Lessons</h3>
                     <div ng-repeat="lesson in lessons" ng-click="ALC.selectedLesson = lesson; ALC.LSNeditSave()">
                        <a>{{lesson.name}} {{lesson.course}}</a>
                     </div>


                  </div>
               </div>
            </div>

         </div>
      </div>
   </div>

   <div class="row">
      <div class="col-lg-12">
         <!-- START Tabbed panel-->
         <div class="panel panel-default">
            <div class="row">
               <div class="col-md-6">
                  <div class="panel-body">
                     <h3>Add Course</h3>
                     <input class="form-control" ng-model="ALC.course.name" placeholder="Name"></input>
                     <br>
                     <input class="form-control" ng-model="ALC.course.description" placeholder="Description"></input>
                     <br>
                     <button class="btn save-btn" ng-click="ALC.CRSsave()" tabindex="-1">Save</button>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="panel-body">
                     <h3>Courses</h3>
                     <div ng-repeat="course in courses">
                        <a>{{course.name}}</a>
                     </div>

                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

