<div class="app-view-header">
  Hello, World  ಠ_ಠ 
   <small></small>
</div>
<div ng-controller="CardsController as viewlist" class="container-fluid container-flush">
   <div class="row">
      <div chained-animation="fadeInUp" class="panel">
         <div class="panel-body">
            <div class="col-sm-1">
               <img ng-src="app/img/user/01.jpg" alt="Mail Avatar" class="img-circle mb-mail-avatar thumb48" src="app/img/user/01.jpg">
            </div>
            <div class="col-sm-3">
               <large>Chris Schumaker</large><br>
               <small>Level 2</small><br>
               <small>Success Rank: 94</small>
            </div>
            <div class="col-sm-2">
            <form>Quick Note
               <input type="text" name="quicknote">
            </form>
            </div>
            <div class="col-sm-2">
               <div class="checkbox">  
                  <label><input type="checkbox" value="">Absent/Full</label>
               </div>
               <div class="checkbox">
                  <label><input type="checkbox" value="">Absent/Half</label>
               </div>
            </div>
            <div class="col-sm-2">
               <h5>Daily Scores</h5>
                  <div class="col-sm-6">Technical</div>
                  <div class="col-sm-6 survey-builder-container">
                     <span>
                        <div class="rating-symbol" style="display: inline-block; position: relative;">
                           <div class="rating-symbol-background fa-star-o" style="visibility: hidden;">
                           </div>
                           <div class="rating-symbol-foreground" style="display: inline-block; position: absolute; overflow: hidden; left: 0px; right: 0px; width: auto;">
                              <span class="fa-star"></span>
                           </div>
                        </div>
                        <div class="rating-symbol" style="display: inline-block; position: relative;">
                           <div class="rating-symbol-background fa-star-o" style="visibility: hidden;">
                           </div>
                           <div class="rating-symbol-foreground" style="display: inline-block; position: absolute; overflow: hidden; left: 0px; right: 0px; width: auto;">
                              <span class="fa-star"></span>
                           </div>
                        </div>
                        <div class="rating-symbol" style="display: inline-block; position: relative;">
                           <div class="rating-symbol-background fa-star-o" style="visibility: hidden;">
                           </div>
                           <div class="rating-symbol-foreground" style="display: inline-block; position: absolute; overflow: hidden; left: 0px; right: 0px; width: auto;">
                              <span class="fa-star"></span>
                           </div>
                        </div>
                        <div class="rating-symbol" style="display: inline-block; position: relative;">
                           <div class="rating-symbol-background fa-star-o" style="visibility: hidden;">
                           </div>
                           <div class="rating-symbol-foreground" style="display: inline-block; position: absolute; overflow: hidden; left: 0px; right: 0px; width: auto;">
                           <span class="fa-star"></span>
                           </div>
                        </div>
                        <div class="rating-symbol" style="display: inline-block; position: relative;">
                           <div class="rating-symbol-background fa-star-o" style="visibility: hidden;">
                           </div>
                           <div class="rating-symbol-foreground" style="display: inline-block; position: absolute; overflow: hidden; left: 0px; right: 0px; width: auto;">
                              <span class="fa-star"></span>
                           </div>
                        </div>
                     </span>
                  </div>
                  <div class="col-sm-6">Social</div>
                  <div class="col-sm-6"> stars</div>
                  <div class="col-sm-6">Participation</div>
                  <div class="col-sm-6"> stars</div>
            </div>
         </div>
      </div>            
   </div>
   <div class="row">
      <div chained-animation="fadeInUp" class="panel panel-card panel-card-image bg-pic4">
         <div class="panel-body">
            <small class="text-white">A nice clear day.</small>
            <h2 class="text-lg text-white">
               <em class="wi wi-day-sunny mr"></em>21
               <em class="wi wi-celsius"></em>
               <br/>
               <small class="text-white">Paris, France</small>
            </h2>
         </div>
      </div>            
   </div>
   <div class="row">
      <div chained-animation="fadeInUp" class="panel panel-card panel-card-image bg-pic4">
         <div class="panel-body">
            <small class="text-white">A nice clear day.</small>
            <h2 class="text-lg text-white">
               <em class="wi wi-day-sunny mr"></em>21
               <em class="wi wi-celsius"></em>
               <br/>
               <small class="text-white">Paris, France</small>
            </h2>
         </div>
      </div>            
   </div>
</div>