<div class="app-view-header">
   ಠ_ಠ HELLO, WORLD ಠ_ಠ
   <small>A piece of paper that contains unique related data</small>
</div>
<div ng-controller="CardsController as viewlist" class="container-fluid container-flush">
   <div class="row">
      <div chained-animation="fadeInUp" class="panel panel-card panel-card-image bg-pic4">
         <div class="panel-body">
            <small class="text-white">A nice clear day.</small>
            <h2 class="text-lg text-white">
               <em class="wi wi-day-sunny mr"></em>21
               <em class="wi wi-celsius"></em>
               <br/>
               <small class="text-white">Paris, France</small>
            </h2>
         </div>
      </div>            
   </div>
   <div class="row">
      <div chained-animation="fadeInUp" class="panel panel-card panel-card-image bg-pic4">
         <div class="panel-body">
            <small class="text-white">A nice clear day.</small>
            <h2 class="text-lg text-white">
               <em class="wi wi-day-sunny mr"></em>21
               <em class="wi wi-celsius"></em>
               <br/>
               <small class="text-white">Paris, France</small>
            </h2>
         </div>
      </div>            
   </div>
   <div class="row">
      <div chained-animation="fadeInUp" class="panel panel-card panel-card-image bg-pic4">
         <div class="panel-body">
            <small class="text-white">A nice clear day.</small>
            <h2 class="text-lg text-white">
               <em class="wi wi-day-sunny mr"></em>21
               <em class="wi wi-celsius"></em>
               <br/>
               <small class="text-white">Paris, France</small>
            </h2>
         </div>
      </div>            
   </div>
</div>