
<div ng-controller="CardsController as viewlist" class="container-fluid container-flush">
   <div class="row">
      <div chained-animation="fadeInUp" class="panel">
         <div class="panel-body">
            <div class="col-sm-1">
               <img ng-src="app/img/user/01.jpg" alt="Mail Avatar" class="img-circle mb-mail-avatar thumb48" src="app/img/user/01.jpg" style="">
            </div>
            <div class="col-sm-3">
               <h3>Chris Shumaker</h3>
               <h5>Level 2</small></h5>
               <h6>Success Rank: 94</h6>
            </div>
            <div class="col-sm-2">
            <form>Quick Note
               <textarea placeholder="Quick Note" rows="4" ></textarea>
            </form>
            </div>
            <div class="col-sm-2">
               <div class="checkbox">  
                  <label><input type="checkbox" value="">Absent/Full</label>
               </div>
               <div class="checkbox">
                  <label><input type="checkbox" value="">Absent/Half</label>
               </div>
            </div>
            <div class="col-sm-3 ng-scope" ng-controller="RatingDemoController as rating">
               <h4>Daily Scores</h4>
                  <div class="col-sm-6">Technical</div>
                  <div class="col-sm-6">
                     <rating ng-model="rating.technical" max="rating.max" readonly="rating.isReadonly" on-hover="rating.hoveringOver(value)" on-leave="rating.overStar = null" state-on="'fa fa-star text-orange'" state-off="'fa fa-star-o'"></rating>
                  </div>
                  <div class="col-sm-6">Social</div>
                  <div class="col-sm-6"> 
                     <rating ng-model="rating.social" max="rating.max" readonly="rating.isReadonly" on-hover="rating.hoveringOver(value)" on-leave="rating.overStar = null" state-on="'fa fa-star text-orange'" state-off="'fa fa-star-o'"></rating>
                  </div>
                  <div class="col-sm-6">Participation</div>
                  <div class="col-sm-6">
                     <rating ng-model="rating.participation" max="rating.max" readonly="rating.isReadonly" on-hover="rating.hoveringOver(value)" on-leave="rating.overStar = null" state-on="'fa fa-star text-orange'" state-off="'fa fa-star-o'"></rating>
                  </div>
            </div>
         </div>
      </div>            
   </div>
   <div class="row">
      <div chained-animation="fadeInUp" class="panel">
         <div class="panel-body">
            <div class="col-sm-1">
               <img ng-src="app/img/user/01.jpg" alt="Mail Avatar" class="img-circle mb-mail-avatar thumb48" src="app/img/user/01.jpg" style="">
            </div>
            <div class="col-sm-3">
               <h3>Ali Tamboura</h3>
               <h5>Level 2</small></h5>
               <h6>Success Rank: 84</h6>
            </div>
            <div class="col-sm-2">
            <form>Quick Note
               <textarea placeholder="Quick Note" rows="4" ></textarea>
            </form>
            </div>
            <div class="col-sm-2">
               <div class="checkbox">  
                  <label><input type="checkbox" value="">Absent/Full</label>
               </div>
               <div class="checkbox">
                  <label><input type="checkbox" value="">Absent/Half</label>
               </div>
            </div>
            <div class="col-sm-3 ng-scope" ng-controller="RatingDemoController as rating">
               <h4>Daily Scores</h4>
                  <div class="col-sm-6">Technical</div>
                  <div class="col-sm-6">
                     <rating ng-model="rating.technical" max="rating.max" readonly="rating.isReadonly" on-hover="rating.hoveringOver(value)" on-leave="rating.overStar = null" state-on="'fa fa-star text-orange'" state-off="'fa fa-star-o'"></rating>
                  </div>
                  <div class="col-sm-6">Social</div>
                  <div class="col-sm-6"> 
                     <rating ng-model="rating.social" max="rating.max" readonly="rating.isReadonly" on-hover="rating.hoveringOver(value)" on-leave="rating.overStar = null" state-on="'fa fa-star text-orange'" state-off="'fa fa-star-o'"></rating>
                  </div>
                  <div class="col-sm-6">Participation</div>
                  <div class="col-sm-6">
                     <rating ng-model="rating.participation" max="rating.max" readonly="rating.isReadonly" on-hover="rating.hoveringOver(value)" on-leave="rating.overStar = null" state-on="'fa fa-star text-orange'" state-off="'fa fa-star-o'"></rating>
                  </div>
            </div>
         </div>
      </div>            
   </div>
   <div class="row">
      <div chained-animation="fadeInUp" class="panel">
         <div class="panel-body">
            <div class="col-sm-1">
               <img ng-src="app/img/user/01.jpg" alt="Mail Avatar" class="img-circle mb-mail-avatar thumb48" src="app/img/user/01.jpg" style="">
            </div>
            <div class="col-sm-3">
               <h3>Jerome Boone</h3>
               <h5>Level 2</small></h5>
               <h6>Success Rank: 73</h6>
            </div>
            <div class="col-sm-2">
            <form>Quick Note
               <textarea placeholder="Quick Note" rows="4" ></textarea>
            </form>
            </div>
            <div class="col-sm-2">
               <div class="checkbox">  
                  <label><input type="checkbox" value="">Absent/Full</label>
               </div>
               <div class="checkbox">
                  <label><input type="checkbox" value="">Absent/Half</label>
               </div>
            </div>
            <div class="col-sm-3 ng-scope" ng-controller="RatingDemoController as rating">
               <h4>Daily Scores</h4>
                  <div class="col-sm-6">Technical</div>
                  <div class="col-sm-6">
                     <rating ng-model="rating.technical" max="rating.max" readonly="rating.isReadonly" on-hover="rating.hoveringOver(value)" on-leave="rating.overStar = null" state-on="'fa fa-star text-orange'" state-off="'fa fa-star-o'"></rating>
                  </div>
                  <div class="col-sm-6">Social</div>
                  <div class="col-sm-6"> 
                     <rating ng-model="rating.social" max="rating.max" readonly="rating.isReadonly" on-hover="rating.hoveringOver(value)" on-leave="rating.overStar = null" state-on="'fa fa-star text-orange'" state-off="'fa fa-star-o'"></rating>
                  </div>
                  <div class="col-sm-6">Participation</div>
                  <div class="col-sm-6">
                     <rating ng-model="rating.participation" max="rating.max" readonly="rating.isReadonly" on-hover="rating.hoveringOver(value)" on-leave="rating.overStar = null" state-on="'fa fa-star text-orange'" state-off="'fa fa-star-o'"></rating>
                  </div>
            </div>
         </div>
      </div>            
   </div>
</div>